cloud-bank-portal/web/WEB-INF/wsdl/localhost_8080/cloud-bank-war/CloudBankService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.i_cloudbank.usbcali.edu.co/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.i_cloudbank.usbcali.edu.co/" name="CloudBankService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.i_cloudbank.usbcali.edu.co/" schemaLocation="http://localhost:8080/cloud-bank-war/CloudBankService?xsd=1"/>
</xsd:schema>
</types>
<message name="consultarPorCliente">
<part name="parameters" element="tns:consultarPorCliente"/>
</message>
<message name="consultarPorClienteResponse">
<part name="parameters" element="tns:consultarPorClienteResponse"/>
</message>
<message name="consultarMovimientos">
<part name="parameters" element="tns:consultarMovimientos"/>
</message>
<message name="consultarMovimientosResponse">
<part name="parameters" element="tns:consultarMovimientosResponse"/>
</message>
<message name="realizarTransferencia">
<part name="parameters" element="tns:realizarTransferencia"/>
</message>
<message name="realizarTransferenciaResponse">
<part name="parameters" element="tns:realizarTransferenciaResponse"/>
</message>
<portType name="CloudBankService">
<operation name="consultarPorCliente">
<input wsam:Action="http://soap.i_cloudbank.usbcali.edu.co/CloudBankService/consultarPorClienteRequest" message="tns:consultarPorCliente"/>
<output wsam:Action="http://soap.i_cloudbank.usbcali.edu.co/CloudBankService/consultarPorClienteResponse" message="tns:consultarPorClienteResponse"/>
</operation>
<operation name="consultarMovimientos">
<input wsam:Action="http://soap.i_cloudbank.usbcali.edu.co/CloudBankService/consultarMovimientosRequest" message="tns:consultarMovimientos"/>
<output wsam:Action="http://soap.i_cloudbank.usbcali.edu.co/CloudBankService/consultarMovimientosResponse" message="tns:consultarMovimientosResponse"/>
</operation>
<operation name="realizarTransferencia">
<input wsam:Action="http://soap.i_cloudbank.usbcali.edu.co/CloudBankService/realizarTransferenciaRequest" message="tns:realizarTransferencia"/>
<output wsam:Action="http://soap.i_cloudbank.usbcali.edu.co/CloudBankService/realizarTransferenciaResponse" message="tns:realizarTransferenciaResponse"/>
</operation>
</portType>
<binding name="CloudBankServicePortBinding" type="tns:CloudBankService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="consultarPorCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="consultarMovimientos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="realizarTransferencia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="CloudBankService">
<port name="CloudBankServicePort" binding="tns:CloudBankServicePortBinding">
<soap:address location="http://localhost:8080/cloud-bank-war/CloudBankService"/>
</port>
</service>
</definitions>